<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capa_Datos.Properties.Settings.HotelConnectionString"
            connectionString="Data Source=DESKTOP-DM8S0G0;Initial Catalog=Hotel;User ID=sa;Password=unab"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>